version: "3.8"

services:
  frontend:
    container_name: frontend
    build: .
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - 11000:11000
    restart: always
    tty: true
    environment:
      - HOST=0.0.0.0
      - port=11000
      - WATCHPACK_POLLING=true
    command: sh -c "npm run dev"
    # command: sh -c "npm install && npm run build && npm start"
    networks:
      - shared-network

networks:
  shared-network:
    external: true
